body {
  text-align: center;
  font-family: sans-serif;
}

canvas {
  background-color: black;
}

.wrapper {
  text-align: center;
}

.instructionList {
  text-align: left;
}

#encOut {
  background-color: rgba(46, 49, 49, 0.25);
}